/* definindo configurações gerais*/
* {
  margin: 0;
  padding: 0;
}

/* definindo configurações das tags <a></a>*/
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

/*Configurando logo*/
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex; /*para colocar o logo e a lista um ao lado do outro*/
  justify-content: space-around; /* deixa o espaço ao redor ser a metade do espaço entre eles*/
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;/* tipografia padrão do texto*/
  background: #23232e;
  height: 8vh;
}

main{
   background: url("/imgs/eberhard-grossgasteiger-FGvPSWXD6RQ-unsplash.jpg") no-repeat center center;/* posicionamento referente ao eixo*/ 
   background-size: cover;/* caso a resolução do monitor seja maior do que a imagem*/
   height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

/*Estilo menu hamburguer criando as barrinhas e deixando o mouse pointer*/
.mobile-menu{
    display: none;/* esconder para mostrar apenas quando for necessario*/
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

/*definindo em qual tamanho da pagina será exibido o icone do menu hamburguer*/

@media (max-Width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in; /*melhorando a animação de transição*/
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

/* opacidade dos links*/

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* transformando hamburguer em x */

.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
  opacity: 0;
}

.mobile-menu.active .line3{
  transform: rotate(45deg) translate(-5px, -7px);
}